body {
  font-family: "Noto Sans JP";
  background-color: #f2ece0;
}
h2 {
  color: #73431d;
}
#spd,
#sta,
#pow,
#gut,
#int {
  font-size: 2rem;
  width: 6.5rem;
}
#spd_pt,
#sta_pt,
#pow_pt,
#gut_pt,
#int_pt {
  font-size: 1.5rem;
  /* width: 9rem; */
}
#stas_box {
  margin: 0% 5% 0%;
  display: flex;
  justify-content: space-between;
}
#stas_pt_box {
  margin: 0% 5% 0%;
  display: flex;
  justify-content: space-between;
}
.koyu_skill div {
  margin: 1% 2% 1%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 1.1em;
}

.koyu_skill input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.koyu_skill input[type="radio"]:checked + span {
  background-color: #6ec409;
  z-index: 1;
  color: #f6f6f8;
}
label span {
  display: block;
  cursor: pointer;
  background-color: #f6f6f8;
  padding: 1em 1.1em;
  position: relative;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #ddd;
  color: #73431d;
}
.tab {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #f9e8fa;
  border: 1px solid #ddd;
  color: #73431d;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  justify-content: center;
}
.sub-tab {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #e8f3fa;
  border: 1px solid #ddd;
  color: #73431d;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  justify-content: center;
}

.small-category-tab {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #e8faf6;
  border: 1px solid #ddd;
  color: #73431d;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  justify-content: center;
}
.tab.active,
.sub-tab.active,
.small-category-tab.active {
  background-color: #6ec409;
  color: #f6f6f8;
}
.tab:hover,
.sub-tab:hover,
.small-category-tab:hover,
.item-button:hover {
  background-color: #6ec409;
}
.item-button {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #e4e6e3;
  color: #73431d;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}
.selected-items-list {
  margin: 0% 2% 3% 2%;
  display: flex;
  flex-wrap: wrap;
  color: #73431d;
  font-style: bold;
  font-size: 1em;
}
@media screen and (max-width: 980px) {
  .tab {
    display: inline-block;
    padding: 18px 32px;
    cursor: pointer;
    background-color: #f9e8fa;
    border: 1px solid #ddd;
    color: #73431d;
    font-size: 1.1em;
    margin: 10px 5px 5px 5px;
    justify-content: center;
  }
  .sub-tab {
    display: inline-block;
    padding: 18px 32px;
    cursor: pointer;
    background-color: #e8f3fa;
    border: 1px solid #ddd;
    color: #73431d;
    font-size: 1.1em;
    margin: 10px 5px 5px 5px;
    justify-content: center;
  }
  .small-category-tab {
    display: inline-block;
    padding: 18px 32px;
    cursor: pointer;
    background-color: #e8faf6;
    border: 1px solid #ddd;
    color: #73431d;
    font-size: 1.1em;
    margin: 10px 5px 5px 5px;
    justify-content: center;
  }
  .tab.active,
  .sub-tab.active,
  .small-category-tab.active {
    background-color: #6ec409;
    color: #f6f6f8;
  }
  .tab:hover,
  .sub-tab:hover,
  .small-category-tab:hover,
  .item-button:hover {
    background-color: #6ec409;
  }
  .item-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #e4e6e3;
    color: #73431d;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.3em;
  }
  .selected-items-list {
    margin: 0% 2% 3% 2%;
    display: flex;
    flex-wrap: wrap;
    color: #73431d;
    font-style: bold;
    font-size: 1.3em;
  }
}
.skill-points {
  margin: 0% 5% 0% 0%;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
}
.selected-item {
  background-color: #d7d7c8;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.selected-item:hover {
  background-color: #ffcccc;
}
.rank-points {
  margin-top: 0px;
  margin-right: 15px;
  font-size: 3em;
}
.remain-points {
  margin-bottom: 0.5%;
  font-size: 1.5em;
}
.footer1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#reset-button {
  margin: 1% 0% 1% 70%;
  padding: 10px 20px;
  background-color: #73431d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
}
.accordion-001 {
  max-width: 100%;
}
.accordion-001:not([open]) {
  margin-bottom: 7px;
}
.accordion-001 summary {
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5em 0.5em;
  border-left: 5px solid #ffaf58;
  background-color: #f2f2f2;
  color: #73431d;
  font-size: 1.1em;
  cursor: pointer;
}
.accordion-001 summary::-webkit-details-marker {
  display: none;
}
.accordion-001 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #c2c2c2;
  border-right: 3px solid #c2c2c2;
  content: "";
  transition: transform 0.3s;
}
.accordion-001[open] summary::after {
  transform: rotate(225deg);
}
.accordion-001 p {
  transform: translateY(-10px);
  opacity: 00;
  margin: 0;
  padding: 1em 2em 1em 2em;
  color: #333333;
  transition: transform 0.5s, opacity 0.5s;
}
.accordion-001[open] p {
  transform: none;
  opacity: 1;
}
